{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
  {{- partial "index_profile.html" . }}
{{- else }}

  {{- if not .IsHome | and .Title }}
    <header class="page-header">
      {{- partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      {{- if .Description }}
        <div class="post-description">
          {{ .Description | markdownify }}
        </div>
      {{- end }}
    </header>
  {{- end }}

  {{- $pages := union .RegularPages .Sections }}
  {{- if .IsHome }}
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
  {{- end }}

  {{- $paginator := .Paginate $pages }}

  {{- range $index, $page := $paginator.Pages }}
    {{- $class := "post-entry" }}
    <article class="{{ $class }} flex-container">
      
      {{- $isHidden := ($page.Param "cover.hiddenInList") | default ($page.Param "cover.hidden") | default false }}
      {{- partial "cover.html" (dict "cxt" $page "IsSingle" false "isHidden" $isHidden) }}

      <div class="entry-text">
        <header class="entry-header">
          <h2 class="entry-title">{{ $page.Title }}</h2>
        </header>
        {{- if (ne ($page.Param "hideSummary") true) }}
        <div class="entry-content">
          <p>{{ $page.Summary | plainify | htmlUnescape }}{{ if $page.Truncated }}...{{ end }}</p>
        </div>
        {{- end }}
      </div>

      <!-- overlay link che rende tutta la card cliccabile -->
      <a class="entry-link" href="{{ $page.Permalink }}" aria-label="Vai al post {{ $page.Title }}"></a>

    </article>
  {{- end }}

  {{- if gt $paginator.TotalPages 1 }}
    <footer class="page-footer">
      <nav class="pagination">
        {{- if $paginator.HasPrev }}
          <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">«&nbsp;Prev</a>
        {{- end }}
        {{- if $paginator.HasNext }}
          <a class="next" href="{{ $paginator.Next.URL | absURL }}">Next&nbsp;»</a>
        {{- end }}
      </nav>
    </footer>
  {{- end }}

{{- end }}

{{- end }}
