{{ if or (not .Parent) (not (eq .Parent.Name "leaflet-map")) }}
{{ errorf "%s: cannot be used outside leaflet-map: %s" .Name .Position }}
{{ end }}

{{ if not (isset .Params "id") }}
{{ errorf "%s: missing 'id' parameter: %s" .Name .Position }}
{{ end }}

{{ $uniqueMapId := (printf "%s:%d" .Page.File.UniqueID .Parent.Ordinal) | md5 | safeJS }}

{{ $id := .Get "id" }}
<script>
	map_options_{{ $uniqueMapId }}.layers.enabled.push({{ $id }});
	map_options_{{ $uniqueMapId }}.layers["{{ $id }}"] = {
		{{ with .Get "apiKey" }}
		apiKey: '{{ . }}',
		{{ end }}
	};
	{{ with .Get "selectorPosition" }}
	map_options_{{ $uniqueMapId }}.layers.position = {{ . }};
	{{ end }}
</script>
