<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 10px;
  }

  .project {
    background-color: var(--color-card-bg);
    padding: 16px;
    border-radius: 12px;
    box-shadow: var(--card-box-shadow);
    border: 1px solid var(--color-border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(200, 200, 200, 0.8); /* Cornice leggera */
  }

  .project:hover {
    box-shadow: var(--card-box-shadow-hover);
    transform: translateY(-2px);
  }

  .project_link {
    text-decoration: none;
    color: inherit;
  }

  .project_title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-primary);
  }

  .project_description {
    font-size: 0.9rem;
    color: var(--color-text);
    margin-bottom: 8px;
  }

  .project_star-box {
    font-size: 0.85rem;
    color: var(--color-text-secondary);
  }
</style>

<div class="projects">
  {{ $allProjects := slice }}
  {{ range $.Site.Data.repos }}
    {{ $allProjects = $allProjects | append . }}
  {{ end }}
  {{ $allProjects = $allProjects | append $.Site.Data.manual }}

  {{ range sort $allProjects "stargazers_count" "desc" }}
  <div class="project">
    <a href="{{ .html_url }}" class="project_link">
      <div class="project_title">
        {{ .name }}
      </div>
      <div class="project_description">
        {{ .description }}
      </div>
      <div class="project_star-box">
        ☆{{ .stargazers_count }}
      </div>
    </a>
  </div>
  {{ end }}
</div>
